# Testing the model

Using your solution so far, test the model on new data.

The new data is located in the ‘Bank_data_testing.csv’.

Good luck!

## Import the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

## Load the data

Load the ‘Bank_data.csv’ dataset.

In [2]:
raw_data = pd.read_csv('Bank-data.csv')

In [3]:
raw_data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.334     0.0    1.0  0.0       0.0     117.0   no
1           1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2           2          4.858     0.0    1.0  0.0       0.0     167.0   no
3           3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4           4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [4]:
data = raw_data.copy()

In [6]:
data = data.drop('Unnamed: 0',axis = 1)

KeyError: "['Unnamed: 0'] not found in axis"

In [7]:
data['y'] = data['y'].map({'yes':1,'no':0})

### Declare the dependent and independent variables

Use 'duration' as the independet variable.

In [8]:
x1 = data['duration']
y = data['y']

### Simple Logistic Regression

Run the regression and graph the scatter plot.

In [9]:
x = sm.add_constant(x1)

In [10]:
log_reg = sm.Logit(y,x).fit()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

## Expand the model

We can be omitting many causal factors in our simple logistic model, so we instead switch to a multivariate logistic regression model. Add the ‘interest_rate’, ‘march’, ‘credit’ and ‘previous’ estimators to our model and run the regression again.

### Declare the independent variable(s)

In [14]:
X1 = data[['interest_rate','march','credit','previous','duration']]
y = data['y']

In [15]:
X = sm.add_constant(X1)
LOG_REG = sm.Logit(y,X).fit()

Optimization terminated successfully.
         Current function value: 0.336664
         Iterations 7

### Confusion Matrix

Find the confusion matrix of the model and estimate its accuracy.

<i> For convenience we have already provided you with a function that finds the confusion matrix and the model accuracy.</i>

In [16]:
def confusion_matrix(data,actual_values,model):
        
        # Confusion matrix 
        
        # Parameters
        # ----------
        # data: data frame or array
            # data is a data frame formatted in the same way as your input data (without the actual values)
            # e.g. const, var1, var2, etc. Order is very important!
        # actual_values: data frame or array
            # These are the actual values from the test_data
            # In the case of a logistic regression, it should be a single column with 0s and 1s
            
        # model: a LogitResults object
            # this is the variable where you have the fitted model 
            # e.g. results_log in this course
        # ----------
        
        #Predict the values using the Logit model
        pred_values = model.predict(data)
        # Specify the bins 
        bins=np.array([0,0.5,1])
        # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
        cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
        # Calculate the accuracy
        accuracy = (cm[0,0]+cm[1,1])/cm.sum()
        # Return the confusion matrix and 
        return cm, accuracy

In [17]:
confusion_matrix(X,y,LOG_REG)

(array([[218.,  41.],
        [ 30., 229.]]),
 0.862934362934363)

## Test the model

Load the test data from the ‘Bank_data_testing.csv’ file provided. (Remember to convert the outcome variable ‘y’ into Boolean).

### Load new data

In [30]:
test_data = pd.read_csv('Bank-data-testing.csv')

In [31]:
test_data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.313     0.0    1.0  0.0       0.0     487.0   no
1           1          4.961     0.0    0.0  0.0       0.0     132.0   no
2           2          4.856     0.0    1.0  0.0       0.0      92.0   no
3           3          4.120     0.0    0.0  0.0       0.0    1468.0  yes
4           4          4.963     0.0    0.0  0.0       0.0      36.0   no

### Declare the dependent and the independent variables

In [32]:
test_data.drop('Unnamed: 0',axis = 1)

     interest_rate  credit  march  may  previous  duration    y
0            1.313     0.0    1.0  0.0       0.0     487.0   no
1            4.961     0.0    0.0  0.0       0.0     132.0   no
2            4.856     0.0    1.0  0.0       0.0      92.0   no
3            4.120     0.0    0.0  0.0       0.0    1468.0  yes
4            4.963     0.0    0.0  0.0       0.0      36.0   no
..             ...     ...    ...  ...       ...       ...  ...
217          4.963     0.0    0.0  0.0       0.0     458.0  yes
218          1.264     0.0    1.0  1.0       0.0     397.0  yes
219          1.281     0.0    1.0  0.0       0.0      34.0   no
220          0.739     0.0    0.0  2.0       0.0     233.0   no
221          1.046     0.0    0.0  0.0       0.0     238.0  yes

[222 rows x 7 columns]

In [33]:
test_data['y'] = test_data['y'].map({'yes':1,'no':0})

In [34]:
X1_test = test_data[['interest_rate','march','credit','previous','duration']]
X_test = sm.add_constant(X1_test)
Y = test_data['y']

Determine the test confusion matrix and the test accuracy and compare them with the train confusion matrix and the train accuracy.

In [35]:
confusion_matrix(X_test,Y,LOG_REG)

(array([[93., 18.],
        [13., 98.]]),
 0.8603603603603603)